/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Includes
// @import 'reset';

// Reset
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

// Variables
$red: #ec1c24;

body {
	background: url('http://www.sundance.org/images/wrapper/SI13_bgtile.jpg');
}

.container {
	max-width: 994px;
	margin: 0 auto;
	font-family: 'Roboto', Helvetica, sans-serif;
	font-size: 16px;
	height: 100%;
	background: #fff;
}

header {
	margin: 0 auto 20px;
	max-width: 960px;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

.mainNav {
	width: 100%;
	margin: 0 auto;
	display: block;
	padding: 20px 0;
}

#sidebar {
	width: 20%;
	display: inline-block;
	vertical-align: top;

	ul {
		li {
			padding: 5px 0;
			font-size: 0.75rem;
		}
	}
}

#body {
	float: right;
	width: 75%;
}

a {
	color: #000;
	text-decoration: none;
	font-size: 12px;
	line-spacing: 26px;

	&:hover {
		color: $red;
	}
}

h3 {
	padding: 5px 0;
}

.nest {
	display: block;
}

// nav
nav.filters {
	display: inline-block;
	vertical-align: top;

	ul {
		text-align: left;

		li {
			display: inline-block;
			vertical-align: top;
			padding-left: 10px;
			padding-right: 3rem;

			a {
				font-size: 16px;
			}

			.arrow {
				width: 20px;
				position: relative;
				bottom: -5px;
				margin-left: 10px;
			}

			.rotate {
				transform: rotate(90deg);
			}
		}
	}

	.search {
		float: right;
		padding-right: 0;

		img { width: 25px; }
	}

	.subNav {
		display: none;
		margin: 20px 10px;
		padding: 10px;

		li {
			display: inline-block;
			vertical-align: top;
			margin: 0 10px;
			padding: 0;

			a {
				padding: 10px;
				background: #aaa;
				border-radius: 10px;
				font-size: 0.75rem;
				text-transform: uppercase;

				&:hover {
					color: #fff;
					background: #000;
				}
			}

			.selected {
				color: #fff;
				background: #000;
			}
		}
	}
}

ul#organizations {
	margin-top: 20px;

	li {
		display: inline-block;
		vertical-align: top;
		width: 33%;
		height: 33%;
		margin: 10px;
		max-height: 200px;
		max-width: 200px;
		background: rgb(241,241,242);
		text-align: center;
		position: relative;

		img {
			max-width: 100%;
			margin: 0 auto;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	.copy {
		background: #fff229;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 10px;

		h4 {
			font-size: 0.9rem;
			font-weight: bold;
			margin-bottom: 5px;
		}

		h5 {
			font-size: 0.75rem;
		}
	}
}

.search {
	img {
		width: 20px;
		height: auto;
		position: relative;
		top: -2px;
	}
}

.form-group {
	display: none;
}

.ng-scope {
	background: white;
}

@media screen and (max-width: 768px) {
	.wrapper {
		width: 90%;
	}

	.top-bar {
		display: none;
	}
}